In [20]:
import pandas as pd

pp_new = pd.read_excel('pickuppoint.xlsx')
pp_old = pd.read_excel('pickuppoint_all.xlsx')
import numpy as np

In [21]:
print(pp_old.shape, pp_new.shape)

(733, 10) (1058, 10)

In [22]:
pp_new.head()

,id,phone,hech,type,reg_id,com_id,zip,long,lati,status
0,10,(+374) 60 750 350,NaN,0,1,601,0009,40.189906,44.522194,1
1,12,(+374) 60 750 350,NaN,0,5,282,1201,40.353892,45.125853,1
2,13,(+374) 95 750 351,NaN,0,8,477,3105,40.786590,43.838280,1
3,14,(+374) 60 750 350,NaN,0,12,608,NaN,39.820528,46.758703,1
4,15,(+374) 60 750 350,NaN,0,7,450,2301,NaN,NaN,1

In [23]:
zip_arr = list(pp_old['zip'].dropna())

In [24]:
print(zip_arr)

['0009', '1201', '3105', '2301', '3601', '0032', '0078', '0063', '0020', '2001', '3302', '2205', '0201', '0202', '0203', '0204', '0205', '0206', '0207', '0208', '0209', '0210', '0212', '0213', '0214', '0215', '0216', '0218', '0219', '0220', '0221', '0222', '0223', '0224', '0225', '0226', '0227', '0236', '0301', '0304', '0306', '0307', '0308', '0309', '0311', '0401', '0402', '0403', '0404', '0405', '0406', '0407', '0408', '0409', '0410', '0411', '0412', '0501', '0502', '0503', '0504', '0505', '0507', '0508', '0509', '0511', '0512', '0513', '0514', '0701', '0703', '0705', '0706', '0707', '0708', '0709', '0710', '0711', '0712', '0713', '0714', '0715', '0716', '0717', '0718', '0719', '0720', '0721', '0722', '0723', '0724', '0725', '0726', '0727', '0728', '0729', '0730', '0731', '0732', '0733', '0734', '0735', '0736', '0737', '0601', '0602', '0603', '0604', '0605', '0606', '0607', '0608', '0609', '0610', '0611', '0612', '0613', '0614', '0615', '0617', '0618', '0619', '0620', '0621', '0622', '0623', '0624', '0625', '0626', '0627', '0628', '0801', '0802', '0803', '0804', '0805', '0806', '0807', '0808', '0809', '0810', '0811', '0812', '0813', '0814', '0815', '0816', '0817', '0818', '0819', '0820', '0821', '0822', '0823', '1101', '1102', '1103', '1104', '1105', '1107', '1108', '1109', '1110', '1111', '1112', '1113', '1114', '1115', '1116', '1117', '1118', '1119', '1120', '1121', '1122', '1123', '1124', '1125', '1126', '1127', '1128', '1129', '1130', '1131', '1132', '1133', '1134', '1135', '1136', '1137', '1138', '1139', '1140', '1141', '1142', '1143', '1144', '1145', '1146', '1147', '1148', '1149', '0901', '0902', '0903', '0904', '0905', '0906', '0907', '0909', '0910', '0912', '0913', '0914', '0915', '0916', '0917', '0918', '0919', '0920', '0921', '0922', '0923', '0924', '0925', '0926', '0927', '0928', '0929', '0930', '0931', '0932', '0933', '0934', '0935', '0936', '0937', '0938', '0939', '0940', '0941', '0942', '0943', '0944', '0945', '0946', '1001', '1003', '1004', '1005', '1006', '1007', '1008', '1009', '1011', '1501', '1502', '1503', '1504', '1505', '1506', '1507', '1508', '1509', '1510', '1511', '1512', '1513', '1514', '1515', '1201', '1202', '1204', '1205', '1206', '1207', '1208', '1209', '1210', '1211', '1212', '1213', '1214', '1301', '1302', '1303', '1304', '1305', '1306', '1308', '1309', '1310', '1311', '1312', '1314', '1315', '1316', '1317', '1318', '1401', '1402', '1403', '1404', '1405', '1406', '1407', '1408', '1409', '1410', '1411', '1412', '1413', '1414', '1415', '1416', '1417', '1418', '1601', '1602', '1604', '1608', '1609', '1610', '1612', '1614', '1618', '1620', '1621', '1623', '1624', '3901', '3902', '3903', '3904', '3905', '3906', '3907', '3908', '4001', '4002', '4003', '4004', '4005', '4006', '4007', '4008', '4009', '4010', '4011', '4012', '4013', '4014', '4101', '4102', '4103', '4104', '4105', '4106', '4107', '4108', '4109', '4110', '4111', '4112', '4113', '4114', '4115', '4116', '4201', '4202', '4203', '4204', '4205', '4206', '4207', '4208', '4209', '4210', '4211', '4212', '4213', '4214', '4215', '4216', '2201', '2202', '2203', '2204', '2206', '2207', '2208', '2209', '2210', '2211', '2212', '2213', '2214', '2215', '2216', '2217', '2218', '2219', '2220', '2221', '2222', '2223', '2224', '2225', '2226', '2227', '2228', '2301', '2302', '2303', '2304', '2305', '2306', '2308', '2309', '2310', '2311', '2312', '2313', '2314', '2315', '2316', '2317', '2318', '2501', '2502', '2503', '2504', '2505', '2506', '2401', '2402', '2403', '2404', '2405', '2406', '2407', '2408', '2410', '2411', '2412', '2413', '2414', '2415', '2416', '1801', '1802', '1803', '1804', '1805', '1806', '1807', '1808', '1809', '1810', '1811', '1812', '1813', '1814', '1815', '1816', '1817', '1818', '1819', '1820', '1821', '1822', '1823', '1824', '1825', '1826', '1701', '1702', '1703', '1704', '1705', '1706', '1707', '1708', '1709', '1710', '1711', '1712', '1714', '1715', '1716', '1717', '1718', '1719', '1720', '1721', '1722', '1723', '1724', '1725', '1726', '1728', '1729', '1730', '1731', '1741', '1901', '1902', '1903', '1904', '1905', '1906', '1907', '1909', '1910', '1911', '1912', '1913', '1914', '1915', '1916', '1917', '1918', '1919', '1920', '1921', '2026', '2027', '2028', '2029', '2030', '2031', '2032', '2033', '2034', '2035', '2036', '2037', '2038', '2039', '2040', '2041', '2042', '2101', '2102', '2103', '2105', '2107', '2108', '2109', '2110', '2111', '2112', '2113', '2114', '2115', '2116', '2117', '2601', '2602', '2603', '2604', '2605', '2606', '2607', '2608', '2609', '2610', '2611', '2612', '2613', '2614', '2615', '2616', '2617', '2618', '2619', '2620', '2621', '2622', '2623', '2624', '2625', '2626', '2701', '2703', '2706', '2707', '2801', '2802', '2803', '2804', '2805', '2806', '2807', '2808', '2809', '2810', '2901', '2902', '2903', '2905', '2907', '2908', '2909', '2910', '2911', '3001', '3002', '3003', '3004', '3005', '3007', '3008', '3009', '3010', '3011', '3012', '3013', '3014', '3015', '3016', '3017', '3018', '3019', '3020', '3021', '3022', '3023', '3024', '3025', '3026', '3027', '3601', '3602', '3603', '3604', '3605', '3606', '3607', '3608', '3610', '3611', '3612', '3613', '3614', '3615', '3616', '3701', '3702', '3703', '3704', '3801', '3801/1', '3802', '3803', '3804', '3805', '3806', '3807', '3808', '3809', '3810', '3201', '3202', '3203', '3204', '3205', '3206', '3207', '3208', '3209', '3210', '3211', '3212', '3213', '3214', '3215', '3216', '3217', '3218', '3219', '3220', '3221', '3301', '3302', '3303', '3304', '3305', '3306', '3307', '3308', '3309', '3310', '3311', '3312', '3313', '3314', '3315', '3317', '3318', '3319', '3401', '3402', '3403', '3404', '3405', '3406', '3407', '3408', '3501', '3502', '3503', '3504', '3505', '3506', '3507', '3508', '3509', '3510', '3511', '3512', '3513', '3514', '3515', '3516', '3517', '3518', '3519', '0']

In [32]:
truth_arr = []
for i in pp_new['zip']:
    truth_arr.append(i not in zip_arr)

In [33]:
new_frame = pp_new[truth_arr]

In [34]:
new_frame

,id,phone,hech,type,reg_id,com_id,zip,long,lati,status
3,14,(+374) 60 750 350,NaN,0,12,608,NaN,39.820528,46.758703,1
726,750,(+374) 60 750 350,NaN,3,7,442,NaN,NaN,NaN,1
727,751,(+374) 60 750 350,NaN,3,3,101,NaN,NaN,NaN,1
728,752,(+374) 60 750 350,NaN,3,7,450,NaN,NaN,NaN,1
729,1601,(+374) 10 514 514,NaN,2,1,601,1,40.180801,44.518600,1
...,...,...,...,...,...,...,...,...,...,...
1049,2295,(+374) 10 514 514,NaN,2,8,477,3119,40.764915,43.839050,1
1050,2296,(+374) 10 514 514,NaN,2,8,477,3120,40.810764,43.851139,1
1051,2297,(+374) 10 514 514,NaN,2,8,477,3123,40.813002,43.817072,1
1052,2298,(+374) 10 514 514,NaN,2,8,477,3125,40.826247,43.823803,1
1053,2299,(+374) 10 514 514,NaN,2,8,477,3126,40.828500,43.833741,1

In [35]:
new_frame.to_excel('insert.xlsx')